@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .price {
    display: inline-block;
    animation: fade-in-up 0.5s ease-in-out; /* Default animation when element mounts */
  }

  @keyframes fade-in-up {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
